*{
  box-sizing: border-box;
  background-color: rgba(20, 20, 20, 0.959);
}
body{
  margin:0;
  padding: 0;
  /* height: 100vh; */
  /* width: auto; */
  /* display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow-x: hidden; */

}
.AppContainer{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.Wrapper{
  height: 100%;
  overflow-y: auto;
  
  flex-grow: 1;

  display:flex;
  flex-direction: column;
  align-items: center;

}
.Headings{
  padding-top: 30px;
  border: none;
  color: rgb(238, 238, 238);
  width: fit-content;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 2px rgb(137, 134, 131),
  -0.1px -0.5px 1.5px rgb(177, 174, 159);
  
}
.SearchBar{
  width:30vw;
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 1.5px 1px 5px rgb(107, 61, 5),
  -1.5px -1px 5px rgb(171, 144, 6);
  color: white;
}
 #SearchButton{
  margin-left:10px;
  border-radius: 15px;
  width:60px;
  height: 48px;
} 
h2{
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 0.5px 2px rgb(122, 125, 30),
  -3px -0.5px 1.5px rgb(159, 138, 46);
  background-color: rgba(60, 59, 59, 0.392);
  border-radius: 10px;
  padding: 10px;
}
.HeadingsList{
  margin-top: 20px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  width: 40vw;
  text-align: center;
  background-color: black;
  box-shadow: 1.5px 1px 5px rgb(169, 165, 159),
  -1.5px -1px 5px rgb(113, 111, 97);
  color: white;
}
.List{
  border: 2px solid rgba(255, 255, 255, 0.663);
  margin-top: 20px;
  border-radius: 20px;
  text-align: left;
  padding-left: 5px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  width: 40vw;
  color: white;
  box-shadow: 1.5px 1px 5px rgb(107, 61, 5),
  -1.5px -1px 5px rgb(171, 144, 6);
}
.Buttons{
  border-radius: 20px;
}
#Task{
  margin: 5px;
  word-break: break-all;
}

.ListButton{
  padding:5px;
  margin: 5px;
  width: 50px;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  color:rgb(255, 216, 18);
  transition: background-color 0.2s ease-in-out, box-shadow 0.3s ease-in-out ;
  box-shadow: 1.5px 1px 5px rgb(107, 61, 5),
  -1.5px -1px 5px rgb(107, 61, 5);
}
.ListButton:hover{
  background-color: rgb(252, 252, 252);
  color: rgb(255, 216, 18);
  box-shadow: 2px 1.5px 5px rgb(107, 61, 5),
  -2px -1.5px 5px rgb(107, 61, 5);
}

.SideBar{
  height: 100%;
  width: 250px;
  color: white;
  background-color: rgba(29, 29, 29, 0.608);
  padding: 20px;
  flex-shrink: 0;
}
.Side{
  text-align: center;
  font-size: 2em;
  border-radius: 15px;
  padding: 10px;
}
.SidePro{
  color: rgb(189, 189, 189);
  text-align: center;
  font-size:1.2rem;
  border:none;
  padding:15px;
  display: grid;
  gap: 10px;
  border-radius: 15px;
}
#Finished{
  cursor: pointer;
  font-size: 1.2rem;
  border: 4px solid rgb(67, 62, 62);
  padding: 5px;
  border-radius: 10px;
  transform: translateY(0);
  transition: transform 0.3s ease;
}
#SideGoing{
  cursor: pointer;
  font-size: 1.2rem;
  border: 4px solid  rgb(67, 62, 62);
  padding:5px;
  border-radius: 10px;
  transform: translateY(0);
  transition: transform 0.3s ease;
}
#Finished:hover{
  transform: translateY(-10%);
}
#SideGoing:hover{
  transform: translateY(-10%);
}